.avatar {
  border-radius: 50%;
  margin-inline: 10px;
}

.card {
  border: 2px solid blue;
}

.profile {
  border: 1px solid black;
}

.container {
  display: flex;
  gap: 10px;
}

section {
  padding-inline: 20px;
}
